<div id="home-page">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/carousel/jf3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/carousel/jf1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/carousel/jf2.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="content">
        <h1 class="text-center m-2">会社一覧</h1>
        <div class="container">
            <% @companies.each do |company| %>
                <div class="row company-item">
                    <div class="col-4 logo-container">
                        <a href="/companies/<%= company.id %>">
                            <% if company.image.attached? %>
                                <%= image_tag company.image , :class => "img-thumbnail"%>
                            <% else%>
                                <img src="/images/logo/logo-default.jpeg" class="img-thumbnail" alt="...">
                            <% end %>
                        </a>
                    </div>
                    <div class="col-8">
                        <h2 class="company-name m-2">
                            <a href="/companies/<%= company.id %>"><%= company.name %></a>
                        </h2>
                        <div class="language m-2">
                            <i class="bi bi-gear-fill"></i>
                            <span><%= company.programming_langue %></span>
                        </div>
                        <div class="description m-2">
                            <i class="bi bi-person-square"></i>
                            <span><%= company.description %></span>
                        </div>
                        <div class="location m-2">
                            <i class="bi bi-geo-alt-fill"></i>
                            <span><%= company.location %></span>
                        </div>
                        <div class="website m-2">
                            <i class="bi bi-globe"></i>
                            <span><a href="<%= company.website_link %>"><%= company.name %></a></span>
                        </div>
                    </div>
                </div>
            <% end %>
            <div class="row company-item">
                <div class="col-4 logo-container">
                    <a href="">
                        <img src="/images/logo/sun.png" class="img-thumbnail" alt="...">
                    </a>
                </div>
                <div class="col-8">
                    <h2 class="company-name m-2">
                        <a href="">Sun*</a>
                    </h2>
                    <div class="language m-2">
                        <i class="bi bi-gear-fill"></i>
                        <span>Ruby, Javascript</span>
                    </div>
                    <div class="description m-2">
                        <i class="bi bi-person-square"></i>
                        <span>Lập kế hoạch, thiết kế, phát triển, vận hành, bảo vệ hệ thống thông tin</span>
                    </div>
                    <div class="location m-2">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span>17F Olinas Tower, 4-1-3,Taihei, Sumida-ku,Tokyo</span>
                    </div>
                    <div class="website m-2">
                        <i class="bi bi-globe"></i>
                        <span><a href="https://sun-asterisk.vn/">Sun*</a></span>
                    </div>
                </div>
            </div>
            <div class="row company-item">
                <div class="col-4 logo-container">
                    <a href="">
                        <img src="/images/logo/dimageshare.png" class="img-thumbnail" alt="...">
                    </a>
                </div>
                <div class="col-8">
                    <h2 class="company-name m-2">
                        <a href="">Dimage Share</a>
                    </h2>
                    <div class="language m-2">
                        <i class="bi bi-gear-fill"></i>
                        <span>Ruby, Javascript</span>
                    </div>
                    <div class="description m-2">
                        <i class="bi bi-person-square"></i>
                        <span>Lập kế hoạch, thiết kế, phát triển, vận hành, bảo vệ hệ thống thông tin</span>
                    </div>
                    <div class="location m-2">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span>17F Olinas Tower, 4-1-3,Taihei, Sumida-ku,Tokyo</span>
                    </div>
                    <div class="website m-2">
                        <i class="bi bi-globe"></i>
                        <span><a href="https://sun-asterisk.vn/">Dimage share</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
