<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reply.user_id %>
</p>

<p>
  <strong>Review:</strong>
  <%= @reply.review_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @reply.content %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
