<%= form_with(model: user, local: true) do |form| %>
    <div class="register">
        <h1 class="well">ユーザー登録</h1>
        <% if user.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
        
                <ul>
                    <% user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
         <div class="col-lg-12 well">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <%= form.label :name, 'ユーザー名' %>
                    <%= form.text_field :name %>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6 form-group">
                    <%= form.label :password, 'パスワード' %>
                    <%= form.password_field :password, :size => 40 %>
                </div>
                
                <div class="col-sm-6 form-group">
                    <%= form.label :password_confirmation, 'パスワードの確認' %>
                    <%= form.password_field :password_confirmation, :size => 40 %>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12 text-center">
                     <%= submit_tag "登録" ,:class => "submit"%>
                </div>
            </div>
        </div>
    </div>
<% end %>