<p id="notice"><%= notice %></p>
<div id="company-detail">
    <div id="company-detail-info container">
        <div class="row company-item ">
            <div class="col-4 logo-container">
                <a href="/companies/<%= @company.id %>">
                    <% if @company.image.attached? %>
                        <%= image_tag @company.image , :class => "img-thumbnail"%>
                    <% else%>
                        <img src="/images/logo/logo-default.jpeg" class="img-thumbnail" alt="...">
                    <% end %>
                </a>
            </div>
            <div class="col-8">
                <h2 class="company-name m-2">
                    <a href="/companies/<%= @company.id %>"><%= @company.name %></a>
                </h2>
                <div class="language m-2">
                    <i class="bi bi-gear-fill"></i>
                    <span><%= @company.programming_langue %></span>
                </div>
                <div class="description m-2">
                    <i class="bi bi-person-square"></i>
                    <span><%= @company.description %></span>
                </div>
                <div class="location m-2">
                    <i class="bi bi-geo-alt-fill"></i>
                    <span><%= @company.location %></span>
                </div>
                <div class="website m-2">
                    <i class="bi bi-globe"></i>
                    <span><a href="<%= @company.website_link %>"><%= @company.website_link %></a></span>
                </div>
            </div>
        </div>
    </div>
    <div id="company-detail-desc" class="container theme-box">
        <div class="row">
            <h4>会社情報</h4>
            <div id="company-detail-desc-content">
                <%= sanitize @company.detail_desc %>
            </div>
        </div>
    </div>
</div>
<div id="review-company" class="theme-box">
    <%= form_with(model: @review, local: true) do |form| %>
        <div class="mb-3">
            <%# <label class="form-label" for="review_review">コメント</label> %>
            <%= form.text_area :review , :class => "form-control"%>
        </div>
        <div class= "field">
            <%= form.hidden_field :company_id, :value => @company.id %>
            <%= form.hidden_field :user_id , :value => current_user.id %>
        </div>
        <div class="actions text-center">
            <%= form.submit "コメント" , class: 'btn btn-danger fw-bold' %>
        </div>
    <% end %>
</div>
<div id="comment-list">
    <h3 class="text-center m-2">コメント一覧</h3>
    <div class="container">
    </div>
    <% @company.review.each do |review|%>
        <div class="row company-item theme-box">
            <div class="col">
                <div class="comment-list-detail">
                    <div class="comment-list-header row">
                        <div class="col-8">
                            <i class="bi bi-person-circle"></i>
                            <span> <%= review.user_id %> </span>
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <i class="bi bi-clock-fill"></i>
                            <span> <%= review.created_at %> </span>
                        </div>
                    </div>
                    <div class="comment-list-content">
                        <p> <%= review.review %></p>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
