<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Programming langue:</strong>
  <%= @company.programming_langue %>
</p>

<p>
  <strong>Vacancy:</strong>
  <%= @company.vacancy %>
</p>

<p>
  <strong>Location:</strong>
  <%= @company.location %>
</p>

<p>
  <strong>Website link:</strong>
  <%= @company.website_link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>
<p>
  <strong>Detail description:</strong>
  <%= @company.detail_desc %>
</p>
<p>
  <% if @company.image.attached? %>
    <%= image_tag @company.image %>
  <% end %>
</p>
<h2>Review List</h2>
<ul>
  <% @company.review.each do |review|%>
   <li><%= review.review %>
     (<i><%= review.user_id %></i>)</li>
<% end %>
</ul>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
