<p id="notice"><%= notice %></p>
<div id="company-detail">
    <div id="company-detail-info container">
        <div class="row company-item ">
            <div class="col-4 logo-container">
                <a href="/companies/<%= @company.id %>">
                    <% if @company.image.attached? %>
                        <%= image_tag @company.image , :class => "img-thumbnail"%>
                    <% else%>
                        <img src="/images/logo/logo-default.jpeg" class="img-thumbnail" alt="...">
                    <% end %>
                </a>
            </div>
            <div class="col-8">
                <h2 class="company-name m-2">
                    <a href="/companies/<%= @company.id %>"><%= @company.name %></a>
                </h2>
                <div class="language m-2">
                    <i class="bi bi-gear-fill"></i>
                    <span><%= @company.programming_langue %></span>
                </div>
                <div class="description m-2">
                    <i class="bi bi-person-square"></i>
                    <span><%= @company.description %></span>
                </div>
                <div class="location m-2">
                    <i class="bi bi-geo-alt-fill"></i>
                    <span><%= @company.location %></span>
                </div>
                <div class="website m-2">
                    <i class="bi bi-globe"></i>
                    <span><a href="<%= @company.website_link %>" target="_blank"><%= @company.website_link %></a></span>
                </div>
            </div>
        </div>
    </div>
    <div id="company-detail-desc" class="container theme-box">
        <div class="row">
            <h4>会社情報</h4>
            <div id="company-detail-desc-content">
                <%= sanitize @company.detail_desc %>
            </div>
        </div>
    </div>
</div>
<div id="review-company" class="theme-box">
    <% if !logged_in? %>
        <div class="my-2">
            <i class="bi bi-exclamation-square-fill text-danger"></i>
            <span class="mx-2">You have to sign in to comment and reply comments</span>
        </div>
    <% end %>
    <%= form_with(model: @review, local: true) do |form| %>
        <div class="mb-3">
            <%= form.text_area :review , :class => "form-control"%>
        </div>
        <div class= "field">
            <%= form.hidden_field :company_id, :value => @company.id %>
        </div>
        <div class="actions text-center">
            <input type="submit" name="commit" value="コメント" class="btn btn-danger fw-bold" data-disable-with="コメント" <%= logged_in? ? '' : "disabled" %>>
        </div>
    <% end %>
</div>
<div id="comment-list">
    <h3 class="text-center m-2">コメント一覧</h3>
    <div class="container">
        <% @company.review.each do |review|%>
            <div class="row company-item theme-box">
                <div class="col">
                    <div class="comment-list-detail">
                        <div class="comment-list-header row">
                            <div class="col-8">
                                <i class="bi bi-person-circle"></i>
                                <span> <%= review.user_id %> </span>
                            </div>
                            <div class="col-4" style="text-align: right;">
                                <i class="bi bi-clock-fill"></i>
                                <span> <%= review.created_at %> </span>
                            </div>
                        </div>
                        <div class="comment-list-content">
                            <p> <%= review.review %></p>
                        </div>
                        <div class="reply-symbol">
                            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal-reply<%= review.id %>" <%= logged_in? ? '' : "disabled" %> ><i class="bi bi-reply-fill"></i></button>
                        </div>
                        <div class="modal fade" id="modal-reply<%= review.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Reply</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <%= form_with(model: @reply, local: true) do |form| %>
                                        <div class="modal-body">
                                            <div class="field">
                                                <%= form.hidden_field :review_id, :value => review.id %>
                                                <%= form.hidden_field :company_id , :value => @company.id %>
                                            </div>
                                            <div class="field">
                                                <%= form.text_area :content , :class => "form-control"%>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <%= form.submit "Save change" , class: 'btn btn-outline-danger' %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reply-list">
                        <% review.reply.each do |reply|%>
                            <div class="reply-item">
                                <p> <strong> <%= reply.user_id %></strong> - <%= reply.created_at %> </p>
                                <p> <%= reply.content %> </p>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
<div class="my-5" style="text-align: right;">
    <%= link_to 'Back', companies_path , class: 'btn btn-outline-danger' %>
</div>
