<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="home"></div><%= link_to "ホーム", root_path %></div>
      
      <% if logged_in? %>
            <%= link_to current_user.name, users_path %>
     <% else %>
        <%= link_to "Đăng nhập", login_url %>
        <%= link_to "Đăng ký", new_user_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
